.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 20px;
}
.nav {
    display: flex;
    gap: 10px;
}
.nav a {
    text-decoration: underline;
    color: navy;
}

.logo {
    color: navy;
    font-size: 26px;
    font-weight: bold;
}

.portfolio-layout {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding: 20px;
}
.project-card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px;
    transition: 0.3s;
}

.project-card:hover {
    transform: scale(1.03);
}
.project-card button {
    margin-top: auto;
}
.projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.info {
    border: 1px solid black;
    padding: 20px;
}

.footer {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    background-color: navy;
    color: white;
}
body {
    margin: 0;
}